

    <!--NEIGHBORHOOD LIST-->
    <section class="mb-5 mt-5">
      <button (click)="logout()">LOGOUT</button>
    <h2 class="text-center pb-4">Barris de Barcelona</h2>
    <div class="d-flex justify-content-center">
      <div class="w-100 mb-5">
        <ng-container *ngFor="let neighborhood of neighborhoodsList">
          <div class="zone-item p-4 d-flex justify-content-between">
            <div class="left">
              <div>NOM: {{ neighborhood['districtName'] | uppercase }}</div>
              <div>Punts: {{ neighborhood['totalScore'] }}</div>
            </div>
            <ng-container *ngIf="(user$ | async) as user">
            <div class="right d-sm-flex d-none">
              <button *ngIf="checkNeighborhoodCode(neighborhood['neighborhoodCode']); else button2" (click)="rejectNeighborhood(neighborhood['neighborhoodCode'], neighborhood['totalScore'])"
              class="btn checked check-btn btn-primary">
                Zona seleccionada
              </button>
              <ng-template #button2>
                <button class="btn check-btn" (click)="addNeighborhood(neighborhood['neighborhoodCode'], neighborhood['totalScore'])">Afegeix la zona</button>
              </ng-template>
            </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    </section>
<!--BENEFITS SECTION-->