<section class="mb-5 mt-5">
  <h2 class="text-center pb-4">Register</h2>
  <form [formGroup]="registerForm" class="custom-form d-flex flex-column" method="post">
    <input
      formControlName="name"
      type="name"
      name="name"
      placeholder="Name"
      required="required"
    />
    <input
      formControlName="surName"
      type="surName"
      name="surName"
      placeholder="Surname"
      required="required"
    />
    <input
      formControlName="email"
      type="email"
      name="email"
      placeholder="Email"
      required="required"
    />
    <input
      formControlName="password"
      type="password"
      name="password"
      placeholder="Password"
      required="required"
    />
    <input
      formControlName="confirmPassword"
      type="confirmPassword"
      name="confirmPassword"
      placeholder="Repeat the password"
      required="required"
    />
    <button type="submit" (click)="register()">Register</button>
  </form>
</section>