
<section class="mb-5 mt-5">
<div class="login">
  <h2 class="text-center pb-4">Login</h2>
  <form [formGroup]="loginForm" class="custom-form d-flex flex-column" method="post">
    <input
      type="email"
      name="email"
      formControlName="email"
      placeholder="Email"
      required="required"
    />
    <input
      type="password"
      name="password"
      formControlName="password"
      placeholder="Password"
      required="required"
    />
    <button type="submit" (click)="login()">Log in</button>
  </form>
</div>
</section>