<footer>
    <div class="row">
        <div class="col-7  col-sm-12 col-md-3">
            LOGO
        </div>
        <div class="col-12 col-sm-4 col-md-3">
            <h3>Your</h3>
            <ul>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#">Logout</a>
                </li>
            </ul>
        </div>
        <!--div class="col-12 col-sm-4 col-md-3">
            <h3>Community</h3>
           
        </div>
        <div class="col-12 col-sm-4 col-md-3">
            <h3>Social network</h3>
           
        </div-->
        <div id="legal-text" class="col-12 small text-center mt-5">
            © Hackaton IT Academy 2023    |    Coockies Policy    |    Privacy Policy    |    Legal Terms
        </div>
    </div>
</footer>
