@import '../../../../vars.scss';

#header-container{
    border: 1px $black solid;
    display: flex;
    flex-direction: row;
    background-color: $beige;
    width: 100%;
    min-height: 10px;
    nav{
        z-index: 999;
        display: flex;
        position: relative;
        justify-content: flex-end;
        width: 100%;
        #burguer{
            z-index: 1100;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
            width: 60px;
            cursor: pointer;
            span{
                display: block;
                height: 6px;
                background-color: $black;

            }
            &:hover{
                padding: 15px; 
                span{
                    height: 4px;
                    background-color: $beige;
                }
                ~ #menu{
                    clip-path: circle(25px at 31px 26px);
                }
            }
            &.menu-opened{
                span{
                    background-color: $beige;
                    opacity: 0;
                    &:first-child{
                        opacity: 1;
                        transform: rotate(45deg) translate(9px, 8px);
                    }
                    &:last-child{
                        opacity: 1;
                        transform: rotate(-45deg) translate(9px, -8px);
                    }
                }
                &:hover{
                   padding: 10px;
                   span{
                       height: 6px;
                       background-color: $orange;
                   }
                }
            }
        }
        .header-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 50px;
            width: max-content;
            padding: 0 20px;
            border-left: 1px solid $black;
            font-family: "Inconsolata", sans-serif;
            text-transform: uppercase;
            font-size: 25px;
            color: $black;
            text-decoration: none;
            font-weight: 700;
            overflow: hidden;
            &.active,
            &:hover{
                background-color: $violet;
            }
            &.black-btn{

                background-color: $black;
                color:$beige;
                &.active,
                &:hover{
                    background-color: $violet;
                    color:$black;
                }
            }
            &::before{
                display: none;
            }
        }
        #search{
            border: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex: 1;
            cursor: pointer;
            input{
                background: transparent;
                border: none;
                border-bottom: 1px solid $black;
                width: 0;
                padding: 0;
                margin-right: 0;
                height: 30px;
                font-weight: 200;
                border-radius: 0;
                box-shadow: none!important;
                &.search-opened{
                    width: calc(100% - 60px);
                }
            }
            button{

                background-size: 25px;
                background-position: center 5px;
                background-repeat: no-repeat;
                height: 40px !important;
                padding: 0;
                width: 40px !important;
                max-width: none;
                min-width: 40px;
                margin-right: -8px;
                margin-left: auto!important;
                background-color: transparent;
                border: 1px solid transparent;
                box-shadow: inset 0 0 0 0 $violet;
                &::after{
                    top:0;
                    right:0;
                    background-color: transparent;
                }
                &:active{

                    margin-right: -8px;
                    margin-left: auto!important;
                    top: 0;
                    right: 0;
                    &::before,
                    &::after{
                        top: 0;
                        right: 0;
                    }
                }
            }
            &.search-opened{
                background-color: $beige;
            }
            &:focus-within{
                button{
                    border-color: $black!important;
                    background-color: $violet;
                    &:hover{
                        box-shadow: inset 0 0 0 2px $black;
                    }
                    &:active{
                        background-color: $yellow;
                    }
                }
            }
        }
        #notificationsBtn{
            position: relative;
            cursor: pointer;
            width: 0;
            padding: 0;
            border-left: 0;
            &.opened{
                background-color: $violet;
            }
            &.notifications{
                width: 51px;
                padding: 0 12px;
                border-left: solid 1px $black;
                #notificationsIcon{
                    &::before{
                        content: "";
                        position: absolute;
                        height: 10px;
                        width: 10px;
                        border-radius: 10px;
                        background-color: $red;
                        border: 1px solid $black;
                        z-index: 1;
                        top:10px;
                        transform: scale(0);
                        animation-delay: 1500ms;
                    }
                }
            }
            &.newNotifications{
                #notificationsIcon{
                    animation: bell 1000ms ease-in-out forwards;
                    animation-delay: 500ms;
                    &::before{
                        animation: dot-notfication 250ms ease-in-out forwards;
                    }
                }
            }
            #notificationsIcon{
                transform-origin: top;
                svg{
                    height: 26px;
                    width: 26px;
                    enable-background:new 0 0 64.6 64.6;
                    .bellIcon{
                        fill:$beige;
                    }
                }
            }
            &.opened,
            &:hover{
                #notificationsIcon{
                    &::before{
                        border: 1px solid $violet;
                        background-color: $yellow;
                    }
                    svg{
                        .bellIcon{fill:$black;}
                    }
                }
            }
            @keyframes bell {
                0% {
                  transform: rotate(0deg);
                }
                7.5% {
                  transform: rotate(25deg);
                }
                30% {
                  transform: rotate(-25deg);
                }
                45% {
                  transform: rotate(15deg);
                }
                58% {
                  transform: rotate(-10deg);
                }
                70% {
                  transform: rotate(5deg);
                }
                87.5% {
                  transform: rotate(-2deg);
                }
                100% {
                  transform: rotate(0deg);
                }
            }
            @keyframes dot-notfication {
                0% {
                    transform: scale(0);
                }
                50% {
                    transform: scale(1.3);
                }
                70% {
                    transform: scale(0.8);
                }
                100% {
                    transform: scale(1);
                }
            }
        }
        #menu{
            clip-path: circle(0px at 31px 26px);
            z-index: 1000;
            top: -1px;
            left: -1px;
            display: block;
            width: calc(100% + 2px);
            height: 100vh;
            position: absolute;
            color: $beige;
            overflow: hidden;
            flex-wrap: nowrap;
            background-color: $black;
            pointer-events: none;
            ul{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
                overflow: hidden;
                list-style: none;
                padding: 0;
                margin: 0;
                font-family: "Inconsolata";
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: 600;
                @media (min-width: 576px) { 
                    font-size: 3rem;

                }
                @media (min-width: 768px) { 
                    font-size: 3,5rem;

                }
                /*@media (min-width: 576px) { 
                    font-size: 3.2rem;

                }
                @media (min-width: 576px) { 
                    font-size: 3.2rem;

                }*/
                
                #menu-logo{
                        a::before{
                            content: none;
                        }
                    img{
                        width: 50vw;
                        max-width: 300px;
                        min-width: 200px;
                        margin-bottom: 50px;
                    }
                }
                div,
                a{
                    display: inline;
                    text-decoration: none;
                    position: relative;
                    cursor: pointer;
                    color:$beige;
                    position: relative;
                    &::before{
                        content: "";
                        display: block;
                        position: absolute;
                        background-color: $orange;
                        width: 0;
                        height: 5px;
                        bottom: 0;
                        z-index: -1;
                        left: auto;
                        right: 0;
                    }
                    &:hover{
                        color: $beige;
                        &::before{
                            content: "";
                            display: block;
                            position: absolute;
                            background-color: $violet;
                            width: 100%;
                            height: 5px;
                            left: 0;
                            right: auto;
                        }
                    }
                    &.active{
                        &::before{
                            content: "";
                            display: block;
                            position: absolute;
                            background-color: $red;
                            width: 100%;
                            height: 5px;
                        }
                    }
                    
                }
            }
            &.menu-opened{
                clip-path: circle(150% at 31px 26px) !important;
                pointer-events: all !important;
            }
        }
    }

    #search-result{
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: calc(100% - 30px);
        overflow:scroll;
        overflow-x: hidden;
        z-index: 998;
        clip-path: circle(0% at 50% 60px) !important;
        position: absolute;
        padding: 70px 20px;
        top: 51px;
        left: 0;
        height: calc(100vh - 51px);
        width: 100%;
        border: 1px solid $black;
        background-color: $beige;
        pointer-events: none;

        &.search-opened{
            clip-path: circle(150% at 50% 26px) !important;
            pointer-events: all!important;
        }
        @media (min-width: 576px) { 
            background-size: 500px auto;
        }
        @media (min-width: 768px) { 
            background-size: 700px auto;
        }
        h1{
            margin-bottom: 10px;
        }
        h1.games-search-title{
            position: sticky;
            top:-70px;
            margin-bottom: 0;
            background-color: $beige;
            z-index: 2;
            border-bottom: solid 1px $black;
            padding: 10px 0;
            min-height: 88px;
            display: flex;
            align-items: center;
        }
        .logo-list{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-y: scroll;
            margin: 0 -20px;
        }
        .game-list{
            display: flex;
            flex-direction: column;
            gap: 1px;
            background-color: $black;
            border: 1px solid $black;
            border-bottom: none;
            z-index: 10;
            margin-top: -1px;
            app-search-element{
                display: flex;
            }
        }
        .loader-more-search-content{
            height: 0;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: 20%;
            background-position: center center;
            background-color: $beige;
            &.loading{
                height: 200px;
                border-bottom: 1px solid $black;
            }

        }
        #close-search{
            cursor: pointer;
            position: fixed;
            height: 50px;
            padding: 5px;
            width: 50px;
            border: 1px solid $black;
            background-color: $black;
            border-radius: 50px;
            top: 70px;
            right: 20px;
            z-index: 20;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            span{
                display: block;
                height: 6px;
                background-color: $beige;
                opacity: 0;
                &:first-child{
                    opacity: 1;
                    transform: rotate(45deg) translate(11px, 12px);
                }
                &:last-child{
                    opacity: 1;
                    transform: rotate(-45deg) translate(11px, -11px);
                }
            }
            &:hover{
                background-color: $beige;
                span{
                    background-color: $black;
                }
            }
        }
        #noResult{
            display: flex;
            max-width: 100%;
            align-self: top;
            font-size: 13vw;
            line-height: 14vw;
            margin: auto;

            @media (min-width: 576px) { 
                max-width: 500px;
                font-size: 70px;
                line-height: 70px;
                background-color: $beige;
            }
            @media (min-width: 768px) { 
                max-width: 550px;
                font-size: 80px;
                line-height: 80px;
            }
        }
    }
}

#notificationList{
    transform: scale(0);
    transform-origin: right top;
    display: flex;
    width: calc(100% - 25px);
    background-color: $beige;
    right: 10px;
    min-width: 50px;
    min-height: 50px;
    max-width: calc(100vw - 25px);;
    position: absolute;
    top:61px;
    border: 1px solid $black;
    padding: 20px;
    border-radius: 38px 5px 38px 38px;
    box-shadow: 0 0 0 $black;
    z-index: 8;
    height: max-content;
    &.opened{
        transform: scale(1);
        animation: shadow 100ms ease-in-out forwards;
        animation-delay: 150ms;
        min-width: 250px;
        min-height: 160px;
        background-size: 0;
        background-position: center center;
        background-repeat: no-repeat;
        &.loading{
            background-size: 120px 120px;
        }
        &::after{
            animation: arrow 100ms ease-in-out forwards;
            animation-delay: 200ms;
        }
    }
    @media (min-width: 576px) { 
        width: max-content;
    }
    @media (min-width: 768px) { 
        background-color: $yellow;
    }
    &::after{
        content: "";
        height: 28px;
        width: 28px;
        border: 1px solid $black;
        background-color: $beige;
        transform: rotate(45deg);
        border-radius: 5px 10px 0 0;
        position: absolute;
        top: 5px;
        right: 0.7px;
        z-index: 1;
        @media (min-width: 768px) { 
            background-color: $yellow;
        }
    }
    &::before{
        content: "";
        height: 60px;
        width: 50px;
        background-color: $beige;
        position: absolute;
        z-index: 10;
        top: 0px;
        right: 0px;
        border-radius: 4px 4px 40px;
        z-index: 2;
        @media (min-width: 768px) { 
            background-color: $yellow;
        }
    }
    #notificationsContainer{
        z-index: 3;
    }
    ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        list-style: none;
        z-index: 3;
        background-color: $beige;
        gap: 10px;
        @media (min-width: 768px) { 
            background-color: $yellow;
        }
        &:has(>li.new){
            li{
                padding: 0 0 0 20px;
            }
        }
        li{
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            width: fit-content;
            position: relative;
            line-height: 18px;
            &::before{
                position: absolute;
                content: "";
                display: block;
                background-color: transparent;
                height: 10px;
                width: 10px;
                bottom: calc(50% - 5px);
                left: 2px;
            }
            &.new{
                &::before{
                    position: absolute;
                    content: "";
                    display: block;
                    background-color: $red;
                    height: 10px;
                    width: 10px;
                    border-radius: 10px;
                    border: 1px solid $black;
                    box-shadow: -1.5px 1.5px 0 $black;
                }
            }
        }
        &.noNews{
            li{
                padding: 0;
                &::before{
                    display: none;
                }
            }
        }
        @keyframes arrow {
            0% {
              top: 5px;
            }
            100% {
                top: -11px;
            }
        }
        @keyframes shadow {
            0% {
                box-shadow: 0 0 0 $black;
            }
            100% {
                box-shadow: -8px 8px 0 $black;
            }
        }
    }
/*
    @media (min-width: 768px) { 
        .btn.danger:hover::before{
            background-color: $beige;
        }
    }
*/
}