<div id="header-container">
    <nav class="d-flex justify-content-between">
        <div id="logo" class="justify-self-start">LOGO</div>
        <!--div id="burguer">
            <span></span>
            <span></span>
            <span></span>
        </div-->
        <div class="d-flex">
            <a href="#" class="d-flex header-btn white-btn">Info</a>
            <a href="/list" class="d-flex header-btn white-btn">List</a>
            <a href="/login" class="d-flex header-btn black-btn">Log In</a>
            <a href="/register" class="d-flex header-btn black-btn">Sign Up</a>
        </div>
      
        <!--nav id="menu" [ngClass]="menuIsOpen? 'menu-opened':''">
            <ul id="options">
                <li class="option"><a (click)="toggleMenu($event)" [routerLink]="[ '/' ]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
                <li class="option"><a (click)="toggleMenu($event)" [routerLink]="[ '/log-in' ]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Log In</a></li>
                <li class="option"><a (click)="toggleMenu($event)" [routerLink]="[ '/sign-up' ]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Sign Up</a></li>
                <li class="option"><a (click)="toggleMenu($event)" [routerLink]="[ '/contribute' ]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Info</a></li>
                <li class="option"><div (click)="toggleMenu($event)" (click)="logOut()" >Log Out</div></li>
            </ul>
        </nav-->
    </nav>
</div>
  
 